.window {
  height: 100vh;
  background-color: #8b8484;
  display: grid;
  grid-template-rows: 64px 1fr;
  color: #0f0f0f;
}

header {
  background-color: #df531b;
  color: #fff;
  padding: 8px 32px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

main {
  display: grid;
  height: 100%;
}
