.logowanie {
  width: 512px;
  height: 512px;
  align-self: center;
  justify-self: center;

  display: grid;
  grid-template-rows: 32px 1fr;
  row-gap: 16px;
}

.error {
  color: red;
}

.controls {
  display: grid;
  grid-template-rows: 32px 32px 1fr;
  row-gap: 8px;
}

button {
  height: 32px;
  margin-top: 16px;
}
