.tydzien3 {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 16px;
  margin: 24px;
  justify-content: left;
}

.tydzien5 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 16px;
  margin: 24px;
  justify-content: left;
}

.dzien {
  width: 256px;
  background-color: rgba(0, 0, 0, 0.09);
  height: 512px;
  padding: 12px;
}

.lekcja {
  border-bottom: 2px solid black;
}

p {
  line-height: 8px;
}
